* {
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;
}

body {
  background: #e5e5e5;
  font-size: 14px;
  height: 480px;
  overflow-y: scroll;
  width: 300px;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

header {
  height: 48px;
  background: #0078d7;
  padding: 12px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
}

#title a {
    font-size: 16px;
    color: #fff;
    outline: none;
    line-height: 24px;
    text-decoration: none;
}

#action_bar {
  float: right;
  display: none;
}

#action_bar img {
  cursor: pointer;
  height: 24px;
  width: 24px;
  margin: 0, 4px;
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to {-webkit-transform: rotate(360deg); }
}

.spin {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

#header_placeholder {
    height: 48px;
}

#account_page {
    position: fixed;
    width: 100%;
    height: 240px;
    background-color: #ebebe0;
    z-index: 40;
    display: none;
}

.account-photo {
    text-align: center;
    padding: 8px;
}

.account-photo img {
    width: 80px;
    height: 80px;
}

.account-content {
    font-size: 16px;
    text-align: center;
    padding: 4px;
}

#content_blocker {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.6;
    z-index: 10;
    display: none;
}

#error {
    width: 100%;
    font-size: 16px;
    background-color: red;
    color: yellow;
    padding: 4px;
    display: none;
}

section {
    padding: 0 8px;
    display: none;
}

#signin_logo {
    color: #ffffff;
    text-align: center;
}

#signin_logo img {
    height: 100px;
    width: 100px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.button-wrapper {
    text-align: center;
}

.primary-button {
    cursor: pointer;
    background-color: #0078d7;
    border: 0;
    line-height: 28px;
    border-radius: 4px;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    padding: 4px 10px;
    width: 100px;
}

.signin-option {
    margin-top: 20px;
    text-align: center;
}

.signin-option span {
    cursor: pointer;
    color: #0078d7;
    font-size: 14px;
}

.date-header {
    color: #666;
    font-size: 16px;
    margin: 16px 0 4px 0;
    padding: 4px 0;
}

.event-container {
    margin: 4px;
}

.event-preview {
    cursor: pointer;
    padding: 6px 2px;
}

.preview-time {
    color: #000000;
    font-size: 12px;
    white-space: nowrap;
    padding: 2px 6px;
    float: left;
    width: 64px;
    -webkit-box-shadow: 1px 1px 10px #888888;
}

.preview-subject {
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 2px 6px;
    margin-right: 2px;
    position: relative;
    -webkit-box-shadow: 1px 1px 10px #888888;
}

.event-details {
    background-color: #f4f4f1;
    -webkit-box-shadow: 0 0 20px #888888;
    z-index: 20;
    border-radius: 2px;
    overflow: hidden;
    display: none;
    position: absolute;
    left: 14px;
    right: 14px;
}

.event-details-header { 
}

.event-details-subject {
    font-size: 20px;
    font-weight: bold;
    padding: 8px 14px 10px 14px;
}

.event-details a {
    outline: none;
    color: #000000;
    text-decoration: none;
}

.event-timeRange {
    font-size: 16px;
    padding: 6px 12px;
}

.event-location,
.event-organizer {
    font-size: 16px;
    padding: 4px 12px;
}

.event-location-icon {
    float: left;
    padding: 2px 8px 0 0;
}

.event-location-icon img {
    height: 15px;
}

.event-location-content
.event-organizer-content {
    font-size: 14px;
}

.event-organizer-icon {
    float: left;
    margin-left: -4px;
    margin-top: -4px;
}

.event-organizer-icon img {
    height: 25px;
}

.event-body {
    font-size: 14px;
    padding: 8px 12px;
    white-space: wrap;
}